.emacs.desktop
.emacs.desktop.lock
.mc-lists.el
.smex-items
ac-comphist.dat
auto-save-list/
elpa/
history
ido.last
projectile-bookmarks.eld
projectile.cache
recentf
smex-items
tramp
url/
var/
.cask/
.*.*
straight
